@{
  Layout = "_Layout";
}
<div class="jumbotron">
  <h1>Allergy Readout</h1>
</div>

<form action="/AllergiesResult" method="post">
  <label for="score">Enter allergy score: </label>
  <input type="number" name="score" id="score" value="">
  <button type="submit" name="button">Submit</button>
</form>
